@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-color: #a6192e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  font-weight: 400;
  background-image: url("../public/batik-background.webp");
  background-size: 40vw;
}

.nav-link,
.navbar-text,
.navbar-brand {
  color: #f9f9f9;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.banner {
  background-color: black;
  font-family: "Ubuntu";
}

.navbar {
  width: 100%;
  z-index: 2;
}

main {
  // margin-top: 5.28em;
  min-height: 100vh;
  margin-bottom: 5em;
}
h1 {
  font-size: 4em;
}

h2 {
  font-size: 3em;
}

h1,
h2,
h3,
p {
  word-break: break-word;
}

.navbar,
.footer {
  background-color: var(--red-color);
}

/* Custom CSS */
.post_heading > h1,
.post_heading > h2,
.post_heading > h3,
.post_heading > h4,
.post_heading > h5,
.post_heading > h6 {
  @apply mt-4; /* This applies margin-top of size 4 (1rem) */
  @apply font-semibold;
}

hr.divider {
  width: 80%;
  margin: auto;
  border-top: 0.45em dashed var(--red-color);
  opacity: 1;
}
@media screen and (max-width: 992px) {
	h1 {
    font-size: 2em;
  }

}

@media screen and (max-width: 480px) {
	h1 {
    font-size: 1.5em;
  }
  
  p {
    font-size: 0.85em;
  }
}

//calendar style
.rbc-header {
  background: var(--red-color);
}

.rbc-header{
  font-size: larger;
  color: white;
  padding: 3rem;
}

.rbc-day-bg, .rbc-day-slot, .rbc-agenda-view, .rbc-btn-group{
  background: white;
}

.rbc-toolbar-label{
  font-size:x-large;
  font-weight: bold;
}

@media screen and (max-width: 850px) {
	.rbc-toolbar {
    display: flex;
    flex-direction: column;
  }

  .rbc-toolbar-label{
    margin: .2rem;
  }

  
}