:root {
  --red-color: #a6192e;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  font-weight: 400;
  background-image: url("../public/batik-background.webp");
  background-size: 40vw;
}

.nav-link,
.navbar-text,
.navbar-brand {
  color: #f9f9f9;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.banner {
  background-color: black;
  font-family: "Ubuntu";
}

.navbar {
  width: 100%;
  z-index: 2;
}

main {
  // margin-top: 5.28em;
  min-height: 100vh;
  margin-bottom: 5em;
}
h1 {
  font-size: 4em;
  text-shadow: 2px 2px black;
}

h2 {
  font-size: 3em;
}

h1,
h2,
h3,
p {
  word-break: break-word;
}

.navbar,
.footer {
  background-color: var(--red-color);
}

hr.divider {
  width: 80%;
  margin: auto;
  border-top: 0.45em dashed var(--red-color);
  opacity: 1;
}
@media screen and (max-width: 992px) {
	h1 {
    font-size: 2em;
  }

}

@media screen and (max-width: 480px) {
	h1 {
    font-size: 1.5em;
  }
  
  p {
    font-size: 0.75em;
  }
}