.about {
	width: 100%;
	position: relative;
	margin-top: 3em;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	text-align: center;
	gap: 2em;
	margin: 3em auto 3em;

}

.about:first-child {
	width: 50%;
}

.imageWrapper {
	position: relative;
	width: 80%;
}

.imageWrapper > div {
	border: 10px solid black;
	position: relative;
}


// .imageWrapper > div {
// 	border: 1px solid black;
// 	box-sizing: content-box;
// }
@media screen and (max-width: 992px) {
	.about {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.about:first-child {
		width: 85%;
	}

	.imageWrapper {
		width: 60%;
	}


}